.stars{
    fill: #FF975D;
    border: #FF975D;
    width: 1rem;

}
.stars:hover{
  fill: #FF975D;
    border: #FF975D;
    width: 1rem;
}

.rating {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .rating li {
    margin-right: 5px;
  }
  
  .rating input[type="radio"] {
    display: none;
  }
  
  .rating label {
    cursor: pointer;
    font-size: 24px;
  }
  
  .rating label:hover,
  .rating input[type="radio"]:checked ~ label {
    fill: #FF975D;
  }

  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  